body {
    background: black;
    display: flex;
    padding: 3%;
    justify-content: center;
}
.wrap {
     position: relative;
     display: flex;
     flex-direction: column;
    width: calc(100% - 6%);
    height: 50vw;
    background: rgb(47, 120, 10);
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
}
.wrap input {
  display: none;
}
.sliderWrap { 
    width: 100%;
}
.imgWrap {
  width: 100%;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
   border-radius: 5%;

}
.imgWrap img {
  width: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: 2s;
}
.text {
  width: 100%;
  height: 2em;
  position: relative;
  overflow: hidden;
}
.text p {
  color: white;
  font-size: 1.5em;
  margin-left: 2%;
  position: absolute;
  z-index: 0;
  opacity: 0;
  background: rgb(47, 120, 10);;
}
.bulletWrap {
width: 15rem;
height: 2.8rem;
margin-top: 6.6rem;
display: flex;
align-self: flex-end;
align-items: center;
  position: relative;
  cursor: pointer;
}
.bulletLabel {
    width: 25%;
    height: 2.8rem;
    display: flex;
justify-content: center;
align-items: center;
  cursor: pointer;
}
.bullet {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
      border: 1px solid white;
  background: rgb(47, 120, 10);
    transition: 1s;
}
label:hover .bullet {
  border: 3px solid white;
  background: rgba(159, 236, 120, 0.5);
  transition: 1s;
}
label:active .bullet {
  background: white;
}

#bullet01:checked ~.sliderWrap > .imgWrap > #img01,
#bullet01:checked ~.sliderWrap > .text > #text01,
#bullet02:checked ~.sliderWrap > .imgWrap > #img02,
#bullet02:checked ~.sliderWrap > .text > #text02,
#bullet03:checked ~.sliderWrap > .imgWrap > #img03,
#bullet03:checked ~.sliderWrap > .text > #text03,
#bullet04:checked ~.sliderWrap > .imgWrap > #img04,
#bullet04:checked ~.sliderWrap > .text > #text04
 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
#bullet01:checked ~.bulletWrap > #label01 > div,
#bullet02:checked ~.bulletWrap > #label02 > div,
#bullet03:checked ~.bulletWrap > #label03 > div,
#bullet04:checked ~.bulletWrap > #label04 > div
 {
 background: rgb(11, 31, 1);
}
#bullet01:checked ~.sliderWrap > .imgWrap > #img01,
#bullet02:checked ~.sliderWrap > .imgWrap > #img02,
#bullet03:checked ~.sliderWrap > .imgWrap > #img03,
#bullet04:checked ~.sliderWrap > .imgWrap > #img04 {
  animation-duration: 2s;
  animation-name: slideinImg;
}
@keyframes slideinImg {
  from {
    width: 0%;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

#bullet01:checked ~.sliderWrap > .text > #text01,
#bullet02:checked ~.sliderWrap > .text > #text02,
#bullet03:checked ~.sliderWrap > .text > #text03,
#bullet04:checked ~.sliderWrap > .text > #text04
 {
  animation-duration: 1s;
  animation-name: slidein;
 }
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 2%;
  }
}


@media (max-width: 1320px) {
  .wrap {
    height: 60vw;
}

}

@media (max-width: 920px) {
  .bulletWrap {
align-self: center;
}
.wrap {
    height: 64vw;
}
.imgWrap {
  height: 40vw; 
}
}
@media (max-width: 660px) {
  .wrap {
    height: 95vw;
}
@media (max-width: 660px) {
  .wrap {
    height: 95vw;
}
}